@import '../../../styles/variables';
@import '../../../styles/mixins';

.page {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg-primary;
  color: $color-text-primary;
  padding: $spacing-xl;
}

.header {
  margin-bottom: $spacing-3xl;
  padding-bottom: $spacing-lg;
  border-bottom: 2px solid $color-danger;

  h1 {
    @include heading-h1;
    color: $color-danger;
    margin-bottom: $spacing-md;
  }

  p {
    @include body-text;
    color: $color-warning;
  }
}

.main {
  @include container;
  @include flex-column;
  gap: $spacing-xl;

  @include desktop-and-up {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}

.sidebar {
  @include card-base;
  border-color: $color-danger;
  height: fit-content;

  h2 {
    @include heading-h3;
    margin-bottom: $spacing-lg;
    color: $color-danger;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      @include body-text;
      padding: $spacing-md;
      margin-bottom: $spacing-sm;
      background-color: $color-bg-tertiary;
      border-radius: $radius-md;
      color: $color-text-secondary;
      cursor: pointer;
      transition: all $transition-fast;

      &:hover {
        background-color: lighten($color-bg-tertiary, 5%);
        color: $color-text-primary;
        border-left: 3px solid $color-danger;
        padding-left: calc($spacing-md - 3px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include mobile-only {
    order: 2;
  }
}

.content {
  @include flex-column;
  gap: $spacing-xl;
}

.section {
  @include card-base;

  h2 {
    @include heading-h2;
    margin-bottom: $spacing-lg;
    color: $color-warning;
  }

  p {
    @include body-text;
    margin-bottom: $spacing-md;
    color: $color-text-secondary;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      @include body-text;
      padding: $spacing-md 0;
      border-bottom: 1px solid $color-bg-tertiary;
      color: $color-text-secondary;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
